<header>
  <h1>{{title}}</h1>
  <!-- barra de navegación-->
  <nav>
    <ul id="menuhorizontal">
      <!-- <li><a href="/inicio">Proyecto</a></li> -->
      <li><a class="{{diabool?'dia':'noche'}}" href="https://raquelmalo.github.io/CMV-publico">Ejercicios</a></li>
      <li><a class="{{diabool?'dia':'noche'}}" href="/inicio">Más info</a></li> <!-- enlace externo con el vídeo presentación a Google Drive-->
    </ul>
    <button id="diaNoche" (click)="diabool=!diabool" [ngStyle]="defineEstilo()"></button>
  </nav>
  <!-- PONGO ESTO para poder utilizar las Rutas -->
  <router-outlet></router-outlet>
</header>