figure {
	width: 33%;
	height: 300px;
	display: inline-block;
}

img {
	height:100%;
	width: 100%;
	object-fit: content;
}   

@media screen and (max-width:1140px) {
	/* Jugamos con el tamaño de la pantalla y según la resolución máx ajustamos la altura de la img*/
	figure{
		height: 225px;
	}
}

@media screen and (max-width: 760px) {
	figure{
		height: 150px;
		display:table;/*block situa uno debajo de otro pero se solapan h3 y figcaption*/
	}
}
