#menuhorizontal {
  margin:0px 10px 10x 0px;
  padding:0px;
  list-style-type:none;
}
#menuhorizontal a {
  width:150px;
  text-decoration:none;
  font-size: 20px;
  text-align:center;  
  color:#ff0000;
  margin-right: 5px;
  background-color:#f7f8e8;
  padding:3px 10px 3px 10px;
  border-radius: 20px; 
  border:1px solid black;
  display:inline-block;
}

#menuhorizontal li {
  /* float:left;   */
  display:inline-block;
}

#menuhorizontal a:hover {
  background-color:#336699;
  box-shadow: 8px 4px 4px #aaa;
}

figure {
	width: 33%;
	height: 300px;
	margin: 0px; /*La separación que necesitemos darle con padding para que sea responsivo con box-sizing*/
	display: inline-block;
}

img {
	height:100%;
	width: 100%;
	object-fit: content;
}  

img:hover {
  -ms-transform: scale(1.2 , 1.2);
  -webkit-transform: scale(1.2 , 1.2);
  -moz-transform: scale(1.2 , 1.2);
  -o-transform: scale(1.2 , 1.2);
  transform: scale(1.2 , 1.2);
}

@media screen and (max-width:1140px) {
	/* Jugamos con el tamaño de la pantalla y según la resolución máx ajustamos la altura de la img*/
	figure{
		height: 225px;
	}
}

@media screen and (max-width: 760px) {
	figure{
		height: 150px;
		display:table;/*block situa uno debajo de otro pero se solapan h3 y figcaption*/
	}
}
