:root {
  /* --fuenteDia : #ff0000;
  --fuenteNoche: #0000ff; */
  --colorFijo: #336699;
  --fondoDia:  #f7f8e8;
  --fondoNoche:#999999;
}

.dia {
  /* color: var(--fuenteDia); */
  background-color: var(--fondoDia);
}

.noche {
  /* color: var(--fuenteNoche); */
  background-color: var(--fondoNoche);
}

.marco {
  display: grid;
  /* border-style: solid;
  border-color: red; */
  grid-template-columns: 150px repeat(3,1fr);
  grid-template-rows: 80px auto auto 40px;
  grid-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.encabezado {
  /*border-style: solid;
   border-color: blue; */
  background-color: var(--colorFijo) ;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.menu {
  /* border-style: solid;
  border-color: yellow; */
  background-color:var(--colorFijo);
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}

/* .migas {
  border-style: solid;
  border-color: orangered;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
} */

/* .lado {
  border-style: solid;
  border-color: violet; 
  background-color: indigo;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
} */

.contenido {
  /*border-style: solid;
   border-color: violet; */
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;		  
  overflow: auto;  /*añade scroll a esta parte y no a toda la página, y solo cuando sea necesario */
  }

.pie {
  /*border-style: solid;
   border-color: aqua; */
  background-color:var(--colorFijo);
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
}

nav {
  display: flex;
}

#menuhorizontal {
  margin:0px 10px 10px 0px;
  list-style-type:none;
}
#menuhorizontal a {
  width:150px;
  text-decoration:none;  
  text-align:center; 
  font-size: 20px; 
  color:#ff0000;
  background-color:var(--fondoDia);
  margin-right: 5px;
  padding:3px 10px 3px 10px;
  border-radius: 20px; 
  border:1px solid black;
  display:inline-block;
}

#menuhorizontal li {
  display:inline-block;
}

#menuhorizontal a:hover, button:hover {
  background-color:#ebd67b;
  box-shadow: 8px 4px 4px #aaa;
}

button {
  margin:0px 10px 10px 10px;
  padding:3px 10px 3px 10px;
  font-size: 20px;
  border-radius: 20px; 
  border:1px solid black;
  /* float:right; */
  position:absolute;
  right:0px;
}

figure {
	width: 33%;
  text-align: center;
  display: inline-block;
}

#marco {
  /* object-fit: cover; */
  position: relative;
	top: 0px;
	left: 0px;
}

#marco:hover {
  -ms-transform: scale(1.2 , 1.2);
  -webkit-transform: scale(1.2 , 1.2);
  -moz-transform: scale(1.2 , 1.2);
  -o-transform: scale(1.2 , 1.2);
  transform: scale(1.2 , 1.2);
  z-index: 1;
}

img {
	height: 300px; /* Fijar tamaño en img no en figure */
	width: 100%;
	object-fit: cover;
  z-index: 0;
}  

figcaption {
  width: 100%; /* Ponerlo para forzar que coja todo el ancho y no meta marco */
  background-color: rgba(255, 255, 255, 0.4);			
  position: absolute;
  bottom: 4px; 
  left: 0px;
}

@media screen and (max-width:1140px) {
	/* Jugamos con el tamaño de la pantalla y según la resolución máx ajustamos la altura de la img*/
img{
		height: 225px;
	}
}

@media screen and (max-width: 760px) {
	figure{
    width: 50%;
		display:table;/*block situa uno debajo de otro pero se solapan h3 y figcaption*/
	}
  img{    
    height: 150px;
  }
  button{
    position: relative;
  }
}

p:active {
  opacity: 0.5;
}