* {	/* estilos por defecto para TODOS los elementos de la página; */
	/* estilo:valor; */
	box-sizing: border-box;
	/* background-color: antiquewhite;*/
	padding: 0;	
	margin: 0;
}

h1 {
	text-align: center;
	color:coral;
	font-family:fantasy;
	text-shadow: 2px 2px 4px #000000;
	padding-top: 15px;
}

h2{
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

h3{
  padding: 10px;
}

nav {
	padding: 10px;
}

#galeria { 
  margin: 10px;
} 

p {
  text-align: justify;
  padding: 10px;
}

footer > div { /* centrar solo verticalmente */
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}