<main class="diaBg">
    <!-- botones para cargar fotos desde BD y desde XML-->
    <section id="galeria">
        <figure class="flip-box" *ngFor="let item of xmlItems">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <h3>{{item.nombre}}</h3>
                    <div id="marco">
                        <img alt="{{item.nombre}}" src="{{item.url}}" />
                        <figcaption>{{item.pie}}</figcaption>
                    </div>
                </div>
                <div class="flip-box-back">
                    <p>{{item.detalle}}</p>
                </div>
            </div>
        </figure>
    </section>
</main>
<app-pie></app-pie>